
@{
    ViewBag.Title = "Welkom";
}






<div class="col-md-12">
    <h3 class="text-center">@Teksten.Intro</h3>
    <p class="">@Teksten.Info</p>
    <p>@Teksten.antwerpen</p>
    
    <div>
        <h2 class="text-center">@Teksten.Slogan</h2>
    </div>

</div>

